/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
	font-family: 'Helvetica', Arial, "Lucida Grande", sans-serif;
}

.block .blockHeader,
.block .blockContent,
.download,
.video,
.footer *,
.navbar-nav *{
	font-family: 'Verlag A', 'Verlag B';
	font-weight: 400;
	font-style: normal;
}

/*region /*animation*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}

	50%{
		transform: translateY(0%);
		opacity: 0.4;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(20%);
		opacity: 0;
	}

	50%{
		-webkit-transform: translateY(0%);
		opacity: 0.4;
	}

	100% {
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}

/*endregion*/

/*.navbar .container{*/
/*background: transparent url(../img/top_image.png) 100% no-repeat;*/
/*backface-visibility: inherit;*/
/*background-position: 0 0;*/
/*background-size: 100% 100%;*/
/*height: 735px;*/
/*max-width: 1140px;*/
/*}*/

/* region /*Blocks*/
.block {
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
	height: auto;
}

.animate{
	visibility: hidden;
}

.block img {
	height: 100%;
	width: 100%;
}

.textBlock {
	background-color: #efe9e5;
	padding: 0;
}

.blueBlock {
	background-color: #a8cee1;
}

.blockHeader {
	padding: 15px 20px 0;
	color: #b5295a;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 42px;
	margin: 0;
}

.blockContent {
	padding: 0 20px;
	font-size: 18px;
	color: #717073;
	margin: 24px 0 70px;
	line-height: 22px;
}

.small .blockContent {
	padding: 0 10px;
	margin: 10px 0 74px;
	line-height: 20px;
}

.blueBlock .blockContent {
	color: #fff;
	padding: 0 15px;
	margin: 32px 0 74px;
}

.video {
	display: block;
	padding: 0px 20px;
	font-size: 30px;
	text-transform: uppercase;
	color: #efe9e5;
	width: 100%;
	background-color: #033151;
	position: absolute;
	bottom: 0;
	height: 35px;
	line-height: normal;
}

.video:after {
	content: "\e029";
	font-family: 'Glyphicons Halflings';
	float: right;
	line-height: 30px;
}

/*region /*Download block*/
.download {
	height: 35px;
	display: block;
	padding: 0px 10px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	background-color: #729db3;
	position: absolute;
	bottom: 0;
	line-height: 35px;
}

.download:after {
	content: "\e026";
	font-family: 'Glyphicons Halflings';
	float: right;
	font-size: 30px;
	line-height: 30px;
}

.small .download {
	padding: 0px 2px;
	font-size: 20px;
}

/*endregion*/

/*region /*footer*/
.footer {
	color: #282828;
	font-size: 16px;
	padding: 30px 0 70px;
}

.footer .social {
	margin: 15px 0;
	padding: 0;
}

.footer .privacy a {
	color: #0096ff;
	cursor: pointer;
}

.footer .social li {
	list-style: none;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
}

.footer .privacy {
	display: inline-block;
	margin-bottom: 30px;
}

/*endregion*/

.blockContent {
	margin: 24px 0 70px;
}

.small .blockContent {
	padding: 0 10px;
	margin: 10px 0 74px;
	line-height: 20px;
}

.blockHeader {
	font-size: 30px;
}

.noPadding {
	padding-right: 0;
	padding-left: 0;
}

/*region /*Navigation*/
.navbar.navbar-default {
	background-color: transparent;
	border: 0;
	margin-bottom: -62px;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar ul.navbar-nav > li > a,
.navbar ul.navbar-nav > li.active > a,
.navbar ul.navbar-nav > li > a:hover,
.navbar ul.navbar-nav > li.active > a:hover {
	background-color: #a8cee1;
	font: normal 16px/14px 'Helvetica';
	text-transform: uppercase;
	color: #003151;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #83acc1;;
}

.navbar-brand,
.navbar-brand > img {
	padding: 0;
	height: 62px;
}

.navbar-collapse {
	border: 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
	position: static;
	height: 62px;
	width: 62px;
	background-color: #a8cee1;
	border-radius: 0;
	border: 0;
	border-left: 1px solid #83acc1;
	margin: 0;
	padding: 16px 17px;
	font: normal 14px/14px 'Helvetica';
	text-decoration: none;
}

.navbar-default .navbar-toggle.collapsed,
.navbar-default .navbar-toggle.collapsed:hover {
	float: left;
	width: auto;
	border-left: 0;
}

.navbar-default .navbar-toggle > .icon-bar {
	display: none;
	width: 45px;
	margin-top: 6px;

	background-color: #003151;
}

.navbar-default .navbar-toggle.collapsed > .icon-bar {
	display: block;
}

.navbar-default .navbar-toggle > span.icon-close {
	color: #003151;
	display: block;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}

.navbar-default .navbar-toggle.collapsed > span.icon-close {
	display: none;
}

.navbar-default .navbar-toggle:before {
	display: block;
	position: absolute;
	content: '';
	background: #a8cee1;
	height: 62px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar-default .navbar-toggle.collapsed:before {
	display: none;
}

/*endregion*/

/*region /*additional label*/

.add-info {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 170px;
	height: 80px;
	background-color: transparent;
	border: 2px solid #79a891;
	padding: 2px;
}

.inner-add-info {
	width: 100%;
	height: 100%;
	background-color: #79a891;
	font: normal 20px arial;
	color: #fff;
	text-align: center;
	padding: 10px;
}

/*endregion*/

/*region /*common blocks styles*/
.block-overflow-hidden {
	overflow: hidden;
	height: 0;
	padding-top: 64%;
}

.block-overflow-hidden > img {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
}

/*endregion*/

/*region /*Main Area*/
#main-content-img {
	position: absolute;
	top: 0;
	left: 10%;
	width: 64%;
	max-width: 550px;
	padding-top: 22%;
	z-index: 1;
}

/*endregion*/

.small .download {
	padding: 0px 2px;
	font-size: 20px;
}

.blockContent {
	margin: 24px 0 70px;
}

.small .blockContent {
	padding: 0 10px;
	margin: 10px 0 74px;
	line-height: 20px;
}

.blockHeader {
	font-size: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/*region /*Navigation*/
	.navbar.navbar-default {
		background-color: transparent;
		border: 0;
	}

	.navbar .navbar-header,
	.navbar .navbar-collapse {
		float: left;
	}

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a,
	.navbar ul.navbar-nav > li > a:hover,
	.navbar ul.navbar-nav > li.active > a:hover {
		font-size: 12px;
		padding: 24px 15px;
		border-top: 0;
		border-left: 1px solid #83acc1;
	}

	.navbar > .container .navbar-brand {
		margin: 0;
	}

	.navbar-brand,
	.navbar-brand > img {
		height: 62px;
	}

	/*endregion*/

	#overview > .block {
		height: 374px;
	}

	.small .download {
		padding: 0 1px;
		font-size: 15px;
	}

	.small .blockContent {
		padding: 0 5px;
		margin: 10px 0 74px;
		line-height: 20px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/*region /*Navigation*/

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a,
	.navbar ul.navbar-nav > li > a:hover,
	.navbar ul.navbar-nav > li.active > a:hover {
		font-size: 16px;
	}

	/*endregion*/

	/*region /*Blocks*/
	.blockHeader {
		font-size: 36px;
	}

	.blockContent {
		margin: 36px 0 78px;
	}

	.block.small .blockContent {
		padding: 0 10px;
		margin: 10px 0 44px;
		line-height: 20px;
	}

	.small .download {
		padding: 0 5px;
		font-size: 20px;
	}

	/*endregion*/

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*region/*Blocks*/
	.small .download {
		font-size: 24px;
	}

	/*endregion*/
}
