/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
	font-family: 'Helvetica', Arial, "Lucida Grande", sans-serif;
}



/*.navbar .container{*/
	/*background: transparent url(../img/top_image.png) 100% no-repeat;*/
	/*backface-visibility: inherit;*/
	/*background-position: 0 0;*/
	/*background-size: 100% 100%;*/
    /*height: 735px;*/
    /*max-width: 1140px;*/
/*}*/

/* region Blocks styles*/
.block {
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
}

.block img {
	height: 100%;
	width: 100%;
}

.textBlock {
	background-color: #efe9e5;
	padding: 0;
}

.blueBlock {
	background-color: #a8cee1;
}

.blockHeader {
	padding: 15px 20px 0;
	color: #b5295a;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 42px;
	margin: 0;
}

.blockContent {
	padding: 0 20px;
	font-size: 17px;
	color: #717073;
	margin: 36px 0 78px;
	line-height: 22px;
}

.blueBlock .blockContent {
	color: #fff;
	padding: 0 15px;
	margin: 32px 0 74px;
}

.video {
	display: block;
	padding: 0px 20px;
	font-size: 30px;
	text-transform: uppercase;
	color: #efe9e5;
	width: 100%;
	background-color: #033151;
	position: absolute;
	bottom: 0;
	height: 35px;
	line-height: normal;
}

.video:after {
	content: "\e029";
	font-family: 'Glyphicons Halflings';
	float: right;
	line-height: 30px;
}

/*Download block*/
.download {
	height: 35px;
	display: block;
	padding: 0px 10px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	background-color: #729db3;
	position: absolute;
	bottom: 0;
	line-height: 35px;
}

.download:after {
	content: "\e026";
	font-family: 'Glyphicons Halflings';
	float: right;
	font-size: 30px;
	line-height: 30px;
}

/*endregion*/

/*region footer*/
.footer {
	color: #282828;
	font-size: 16px;
	padding: 30px 0 70px;
}

.footer .social {
	margin: 15px 0;
	padding: 0;
}

.footer .privacy a {
	color: #0096ff;
	cursor: pointer;
}

.footer .social li {
	list-style: none;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
}

.footer .privacy {
	display: inline-block;
	margin-bottom: 30px;
}

/*endregion*/
@media (max-width: 480px) {
	.small .download {
		padding: 0px 2px;
		font-size: 20px;
	}

	.blockContent {
		margin: 24px 0 70px;
	}

	.small .blockContent {
		padding: 0 10px;
		margin: 10px 0 74px;
		line-height: 20px;
	}

	.blockHeader {
		font-size: 30px;
	}

	.noPadding {
		padding-right: 0;
		padding-left: 0;
	}
}

/*region /*Navigation*/
.navbar.navbar-default {
	background-color: transparent;
	border: 0;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar ul.navbar-nav > li > a,
.navbar ul.navbar-nav > li.active > a {
	background-color: #a8cee1;
	font: normal 16px/14px 'Helvetica';
	text-transform: uppercase;
	color: #003151;
	padding: 15px;
}

.navbar-brand,
.navbar-brand > img {
	padding: 0;
	height: 44px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {

	height: 44px;
	background-color: #a8cee1;
	border-radius: 0;
	border: 1px solid #dddddd;
	margin: 0;

	color: transparent;
	width: 44px;
}

.navbar-default .navbar-toggle.collapsed,
.navbar-default .navbar-toggle.collapsed:hover {
	float: left;
	width: auto;

	font: normal 14px/14px 'Helvetica';
	color: #fff;
	padding: 15px;
	text-decoration: none;
}

.navbar-default .navbar-toggle > span.glyphicon {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	padding: 15px;
	color: #fff;
}

.navbar-default .navbar-toggle.collapsed > span.glyphicon {
	display: none;
}

/*endregion*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/*region /*Navigation*/
	.navbar.navbar-default {
		background-color: transparent;
		border: 0;
	}

	.navbar .navbar-header,
	.navbar .navbar-collapse {
		float: left;
	}

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a {
		font-size: 12px;
		padding: 24px 15px;
	}

	.navbar > .container .navbar-brand {
		margin: 0;
	}

	.navbar-brand,
	.navbar-brand > img {
		height: 62px;
	}

	/*endregion*/

	.small .download {
		padding: 0 1px;
		font-size: 15px;
	}

	.small .blockContent {
		padding: 0 5px;
		margin: 10px 0 74px;
		line-height: 20px;
	}



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/*region /*Navigation*/

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a {
		font-size: 16px;
	}

	/*endregion*/


	.block.small .blockContent {
		padding: 0 10px;
		margin: 10px 0 44px;
		line-height: 20px;
	}

	.small .download {
		padding: 0 5px;
		font-size: 20px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
