/*
Global: font-family:'ITC Berkeley Old Style W01’;

ITC Berkeley Oldstyle™ W01 Book: font-family:'ITC Berkeley Old Style W01'; font-weight:300; font-style:normal;
ITC Berkeley Oldstyle™ W01 Book Italic: font-family:'ITC Berkeley Old Style W01'; font-weight:400; font-style:italic;
ITC Berkeley Oldstyle™ W01 Medium: font-family:'ITC Berkeley Old Style W01'; font-weight:500; font-style:normal;
ITC Berkeley Oldstyle™ W01 Italic: font-family:'ITC Berkeley Old Style W01'; font-weight:500; font-style:italic;
ITC Berkeley Oldstyle™ W01 Bold: font-family:'ITC Berkeley Old Style W01'; font-weight:700; font-style:normal;
ITC Berkeley Oldstyle™ W01 Bold Italic: font-family:'ITC Berkeley Old Style W01'; font-weight:700; font-style:italic;
ITC Berkeley Oldstyle™ W01 Black: font-family:'ITC Berkeley Old Style W01'; font-weight:800; font-style:normal;
ITC Berkeley Oldstyle™ W01 Black Italic: font-family:'ITC Berkeley Old Style W01'; font-weight:800; font-style:italic;

*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body *{
	font-family:"ITC Berkeley Old Style W01";
	font-weight:300;
	font-style:normal;
	/*font-family: 'Helvetica', Arial, "Lucida Grande", sans-serif;*/
}

.block .blockHeader,
.block .blockContent,
.download,
.video,
.footer *,
.navbar-nav * {
	font-family: 'Verlag A', 'Verlag B, ITC Berkeley Old Style W01';
	font-weight: 400;
	font-style: normal;
}

/*region /*animation*/

.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

.fast {
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;

}

.slow {
	animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;

}

@keyframes slideUp {
	0% {
		transform: translateY(20%);
		opacity: 0.2;
	}

	50% {
		transform: translateY(0%);
		opacity: 0.6;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(20%);
		opacity: 0.2;
	}

	50% {
		-webkit-transform: translateY(0%);
		opacity: 0.6;
	}

	100% {
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

/*endregion*/

/*.navbar .container{*/
/*background: transparent url(../img/top_image.png) 100% no-repeat;*/
/*backface-visibility: inherit;*/
/*background-position: 0 0;*/
/*background-size: 100% 100%;*/
/*height: 735px;*/
/*max-width: 1140px;*/
/*}*/

.noPadding {
	padding-right: 0;
	padding-left: 0;
}

/* region /*Blocks*/
.block {
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
	height: auto;
}

.animate,
.animateFadeIn {
	visibility: hidden;
}

.block img {
	height: 100%;
	width: 100%;
}

.textBlock {
	background-color: #efe9e5;
	padding: 0;
}

.blueBlock {
	background-color: #a8cee1;
}

.grayBlock {
	background-color: #717073
}

.blockHeader {
	padding: 15px 20px 0;
	color: #b5295a;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 42px;
	margin: 0;
}

.blockContent {
	padding: 0 20px;
	font-size: 18px;
	color: #717073;
	margin: 24px 0 70px;
	line-height: 22px;
}

.blueBlock .blockContent {
	color: #fff;
	padding: 0 15px;
	margin: 32px 0 74px;
}

.grayBlock .graghic-placelolder {
	color: #fff;
	font-size: 60px;
}

.small .blockContent {
	padding: 0 10px;
	margin: 10px 0 74px;
	line-height: 20px;
}

.block.half-block {
	padding-top: 98%;
}

.block.half-block > * {
	position: absolute;
	top: 0;
	height: 100%;
}

.video {
	display: block;
	padding: 0px 20px;
	font-size: 30px;
	text-transform: uppercase;
	color: #efe9e5;
	width: 100%;
	background-color: #033151;
	position: absolute;
	bottom: 0;
	height: 35px;
	line-height: 35px;
}

.video:after {
	content: "\e029";
	font-family: 'Glyphicons Halflings';
	float: right;
	line-height: 30px;
}

/*endregion*/

/*region /*Download block*/
.download {
	height: 35px;
	display: block;
	padding: 0px 10px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	background-color: #729db3;
	position: absolute;
	bottom: 0;
	line-height: 35px;
}

.download:after {
	content: "\e026";
	font-family: 'Glyphicons Halflings';
	float: right;
	font-size: 30px;
	line-height: 30px;
}

.small .download {
	padding: 0px 5px;
	font-size: 20px;
}

/*endregion*/

/*region /*footer*/
.footer {
	color: #282828;
	font-size: 16px;
	padding: 30px 0 70px;
}

.footer .social {
	margin: 15px 0;
	padding: 0;
}

.footer .privacy a {
	color: #0096ff;
	cursor: pointer;
}

.footer .social li {
	list-style: none;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
}

.footer .privacy {
	display: inline-block;
	margin-bottom: 30px;
}

/*endregion*/

/*region /*Navigation*/
.navbar.navbar-default {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-color: transparent;
	border: 0;
	margin-bottom: 0;
}

.navbar-nav {
	margin: 0 -15px;
}

.container > .navbar-header,
.container > .navbar-collapse {
	margin: 0;
}

.navbar ul.navbar-nav > li > a,
.navbar ul.navbar-nav > li.active > a,
.navbar ul.navbar-nav > li > a:hover,
.navbar ul.navbar-nav > li.active > a:hover {
	background-color: #a8cee1;
	font: normal 16px/14px 'Verlag A', 'Verlag B, ITC Berkeley Old Style W01';
	font-weight: 300;
	text-transform: uppercase;
	color: #003151;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #83acc1;;
}

.navbar-brand,
.navbar-brand > img {
	padding: 0;
	height: 62px;
}

.navbar-collapse {
	border: 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
	position: static;
	height: 62px;
	width: 62px;
	background-color: #a8cee1;
	border-radius: 0;
	border: 0;
	border-left: 1px solid #83acc1;
	margin: 0;
	padding: 16px 17px;
	font: normal 14px/14px 'Helvetica';
	text-decoration: none;
}

.navbar-default .navbar-toggle.collapsed,
.navbar-default .navbar-toggle.collapsed:hover {
	float: left;
	width: auto;
	border-left: 0;
}

.navbar-default .navbar-toggle > .icon-bar {
	display: none;
	width: 45px;
	margin-top: 6px;

	background-color: #003151;
}

.navbar-default .navbar-toggle.collapsed > .icon-bar {
	display: block;
}

.navbar-default .navbar-toggle > span.icon-close {
	color: #003151;
	display: block;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}

.navbar-default .navbar-toggle.collapsed > span.icon-close {
	display: none;
}

.navbar-default .navbar-toggle:before {
	display: block;
	position: absolute;
	content: '';
	background: #a8cee1;
	height: 62px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar-default .navbar-toggle.collapsed:before {
	display: none;
}

/*endregion*/

/*region /*additional label*/

.add-info {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 256px;
	height: auto;
	background-color: transparent;
	border: 2px solid #79a891;
	padding: 2px;
}

#membership .add-info{
	width: 216px;
}

.inner-add-info {
	width: 100%;
	height: 100%;
	background-color: #79a891;
	font: normal 20px "ITC Berkeley Old Style W01";
	font-weight: 300;
	color: #fff;
	text-align: left;
	padding: 15px 5px 5px;
	line-height: 1.2;
}

#membership .inner-add-info{
	text-align: center;
	padding: 5px 0;
	line-height: normal;
}

#residences .inner-add-info{
	font-weight:500;
}

.firstWord{
	font-family: 'ITC Berkeley Old Style W01';
	font-weight: 700;
	font-style: italic;
	font-size: 3.6em;
	line-height: 0.55;
	margin: 0px 5px 0 -6px;
	float: left;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

#residences .firstWord{
	margin-left: 2px;
}

#membership .firstWord{
	font-size: 2.4em;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	float: none;
	margin: 0;
	line-height: 1;
}

/*endregion*/

/*region /*common blocks styles*/
.block-overflow-hidden {
	overflow: hidden;
	height: 0;
	padding-top: 64%;
}

.block-overflow-hidden > img {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
}

/*endregion*/

/*region /*Main Area*/
#main-content-img {
	position: absolute;
	top: 0;
	left: 10%;
	width: 64%;
	max-width: 550px;
	padding-top: 22%;
	z-index: 1;
}

/*endregion*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* region /*Blocks*/
	.blockHeader {
		font-size: 18px;
		line-height: 20px;
	}

	.blockContent {
		margin: 10px 0 40px;
		font-size: 15px;
		line-height: 17px;
	}

	.small .blockContent {
		padding: 0 5px;
		margin: 10px 0 40px;
		line-height: 20px;
	}

	.video {
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}

	.video:after {
		line-height: 26px;
	}

	.block.half-block {
		padding-top: 0;
	}

	.block.half-block > * {
		position: relative;
		float: left;
	}

	/*endregion*/

	/* region /*Download block*/
	.download {
		height: 30px;
		line-height: 30px;
	}

	.small .download {
		font-size: 15px;
	}

	.download:after {
		font-size: 20px;
		line-height: 26px;
	}

	/*endregion*/

	/*region /*Navigation*/

	.navbar .navbar-collapse.collapse {
		display: none !important;
		width: auto;
	}

	.collapsing {
		-webkit-transition: width 0.35s ease;
		transition: width 0.35s ease;
	}

	.navbar.navbar-default {
		background-color: transparent;
		border: 0;
	}

	.navbar.navbar-default > .container {
		position: relative;
	}

	.navbar .navbar-header {
		float: left;
	}

	.navbar .navbar-collapse {
		position: absolute;
		top: 0;
		left: 154px;
		width: auto;
		height: 62px !important;
		overflow: hidden;
		padding: 0;
	}

	.navbar-nav {
		margin: 0;
		width: 590px;
	}

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a,
	.navbar ul.navbar-nav > li > a:hover,
	.navbar ul.navbar-nav > li.active > a:hover {
		height: 62px;
		font-size: 9px;
		padding: 24px 10px;
		border-top: 0;
		border-left: 1px solid #83acc1;
	}

	.navbar > .container .navbar-brand {
		margin: 0;
	}

	.navbar-brand,
	.navbar-brand > img {
		height: 62px;
	}

	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle.collapsed,
	.navbar-default .navbar-toggle.collapsed:hover {
		display: block;
		width: auto;
		border: 0;
	}

	.navbar-default .navbar-toggle:before,
	.navbar-default .navbar-toggle.collapsed:before {
		display: none;
	}

	.navbar-default .navbar-toggle > span.icon-close,
	.navbar-default .navbar-toggle.collapsed > span.icon-close {
		display: none;
	}

	.navbar-default .navbar-toggle > .icon-bar,
	.navbar-default .navbar-toggle.collapsed > .icon-bar {
		display: block;
	}

	/*endregion*/

	/*region /*Overview, Financial, Residences*/
	#overview > .block {
		height: 256px;
	}

	#overview > .block > .block,
	#financial > .block > .block {
		height: 128px;
	}

	#overview > .block > .block > img,
	#financial > .block > .block > img {
		height: 100%;
		width: auto;
		float: right;
	}

	#financial> .block {
		height: 318px;
	}

	#financial > .block > .textBlock {
		height: auto;
	}

	#residences > .block {
		height: 395px;
	}

	#residences > .block > .block {
		height: 123px;
	}

	#residences > .block > .textBlock {
		height: 150px;
	}

	#membership_wrap > .block {
		height: 248px;
	}

	#innovation > .block {
		height: 260px;
	}

	#downloads > .block {
		height: 140px;
	}

	/*endregion*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/*region /*Navigation*/

	.navbar ul.navbar-nav > li > a,
	.navbar ul.navbar-nav > li.active > a,
	.navbar ul.navbar-nav > li > a:hover,
	.navbar ul.navbar-nav > li.active > a:hover {
		font-size: 16px;
	}

	.navbar .navbar-collapse {
	}

	.navbar-nav {
		width: 816px;
	}

	/*endregion*/

	/*region /*Blocks*/
	.blockHeader {
		font-size: 36px;
		line-height: 1em;
	}

	.blockContent {
		font-size: 18px;
		line-height: 1em;
		margin: 12px 0 0;
	}

	.block.small .blockContent {
		padding: 0 10px;
		margin: 10px 0 45px;
		line-height: 20px;
	}

	.download {
		height: 37px;
		line-height: 37px;
	}

	.small .download {
		font-size: 18px;
	}

	.download:after {
		font-size: 30px;
		line-height: 32px;
	}

	.video {
		height: 37px;
		line-height: 37px;
		font-size: 30px;
	}

	.video:after {
		line-height: 32px;
	}

	/*endregion*/

	/*region /*Overview, Financial, Residences*/
	#overview > .block {
		height: 330px;
	}

	#financial > .block {
		height: 340px
	}

	#overview > .block > .block,
	#financial > .block > .block {
		height: 166px;
	}

	#financial > .block > .textBlock {
		height: auto;
	}

	#residences > .block {
		height: 511px;
	}

	#residences > .block > .block {
		height: 160px;
	}

	#residences > .block > .textBlock {
		height: 192px;
	}

	#membership_wrap > .block {
		height: 322px;
	}

	#innovation > .block {
		height: 336px;
	}

	#downloads > .block {
		height: 170px;
	}

	/*endregion*/
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		padding: 0 35px;
	}

	/*region /*Navigation*/
	.navbar .navbar-collapse {
		left: 189px;
	}

	.navbar-nav {
		margin: 0;
		width: 956px;
	}

	/*endregion*/
	/*region/*Blocks*/
	.small .download {
		font-size: 22px;
	}

	.block.small .blockContent {
		padding: 0 10px;
		margin: 14px 0 74px;
		line-height: 20px;
	}

	/*endregion*/

	/*region /*Overview, Financial, Residences*/
	#overview > .block,
	#financial > .block {
		height: 374px;
	}

	#overview > .block > .block,
	#financial > .block > .block {
		height: 187px;
	}

	#financial > .block > .textBlock {
		height: auto;
	}

	#residences > .block {
		height: 579px;
	}

	#residences > .block > .block {
		height: 181px;
	}

	#residences > .block > .textBlock {
		height: 217px;
	}

	#membership_wrap > .block {
		height: 346px;
	}

	#innovation > .block {
		height: 380px;
	}

	#downloads > .block {
		height: 200px;
	}

	/*endregion*/
}
